.filter-section-container {
  padding-left: 9vw;
  padding-right: 80px;

  .filter-btn-container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 6vh 0 3vh 0;
    width: 100%;
    border-bottom: 0.1em solid lightgray;

    .filter-btn-default {
      width: 10vh;
      line-height: 4vh;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      margin-right: 20px;
      cursor: pointer;
    }

    .filter-btn-focused {
      width: 10vh;
      line-height: 4vh;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      margin-right: 20px;
      cursor: pointer;
      color: white;
      background-color: black;
    }
    .filter-btn:hover {
      background-color: #dfdfdf;
    }
    .num-of-products {
      color: grey;
      font-size: 0.9rem;
      padding-left: 72vw;
    }
  }

  .filter-options-container {
    font-weight: 700;
    height: auto;
    width: 13vw;
    padding: 2vw 2vw 0 2vw;
    margin-top: 2vh;
    background-color: white;
    z-index: 10;
    border-radius: 20px;
    position: absolute;
    box-shadow: 1px 3px 8px 0px #929292;

    .filter-options {
      padding-bottom: 2.5vw;
      cursor: pointer;
    }
  }
  .filter-btn-category {
    padding-top: 5vh;
  }
}
.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 9vw;
}
