.login-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15vw;
  padding-right: 5vw;
  background-color: #00a6d2;

  .kikea-logo {
    width: 130px;
    padding-top: 40px;

    img {
      width: 100%;
    }
  }

  .login-aside-main {
  }
  .login-aside-main:nth-child(1) {
    color: yellow;
  }

  .login-aside-footer {
    padding-bottom: 40px;
  }
}
