.main-wrapper {
  position: relative;
  top: 10vh;
  left: 8vw;
  .main-wrapper-homefurnishing {
    color: black;
    font-size: 30px;
    line-height: 1.444;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
