.side-bar-container {
  overflow-y: scroll;
  width: 33vw;
  height: 110vh;
  z-index: 10;
  top: 0;
  position: fixed;
  background: white;
  // border: 0.1em green solid;
  .side-bar-nav {
    display: flex;
    align-items: center;
    padding: 45px 0 45px 65px;
    height: 50px;
    width: 31vw;
    // border: 0.1em solid red;
    position: fixed;
    top: 0;
    background-color: white;
    // overflow: hidden;
    .side-bar-off-btn {
      border: none;
      background-color: white;
    }
    .close-side-bar-btn {
      font-size: 20px;
      cursor: pointer;
    }
    .kikea-logo {
      height: 35px;
      padding-left: 70px;
      cursor: pointer;
    }
  }
  .side-bar-content-container {
    height: 100%;
    margin-top: 110px;
    // border: 0.1em solid blue;
    padding-left: 150px;
    .side-bar-content {
      .side-bar-category {
        font-weight: bolder;
        padding: 20px 0;
        font-size: 25px;
        cursor: pointer;
      }
      .side-bar-category-last {
        padding-bottom: 35px;
      }

      .product-list {
        .product-list-content {
          padding-bottom: 15px;
          font-weight: bolder;
          cursor: pointer;
        }
        .list-last {
          padding-bottom: 50px;
        }
      }
      .service-list {
        .service-list-content {
          padding-bottom: 15px;
          cursor: pointer;
        }
      }
    }
    .side-bar-footer-container {
      .side-bar-foot-btn {
        border-radius: 20px;
      }
    }
  }
}
