.promotioncard {
  width: 32vw;
  margin-right: 13px;
  background-color: #dd999e;

  .promotioncard-img-box {
    height: 450px;

    .promotioncard-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .promotioncard-description {
    position: relative;
    height: 250px;
    padding-top: 20px;
    line-height: 1.3;
  }

  .promotioncard-description p:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 21px;
  }

  .promotioncard-description p:nth-child(2) {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }

  .arrow-wrapper {
    position: absolute;
    top: 80%;
    left: 1vw;

    .arrow-span {
      .arrwo-button {
        height: 35px;
        padding: 2px;
        width: 35px;
        font-size: 8px;
        align-items: center;
        border-style: none;
        background-color: black;
        color: white;
        border-radius: 64px;
        cursor: pointer;
      }
    }
  }
}
.promotioncard:nth-child(2) {
  background-color: #cad4ea;
}

.promotioncard:nth-child(3) {
  background-color: #b9d2dc;
}
