.detailMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;

  .productImg-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
