.search-box-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;

  .search-box {
    line-height: 7vh;
    width: 100%;
    font-size: 17px;
    padding-left: 58px;
    background-color: #f5f5f5;
    border-radius: 30px;
    border: none;
    outline: none;
    position: relative;
    z-index: 10;
  }
  .search-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: none;
    font-size: 18px;
    position: absolute;
    padding-left: 30px;
    height: 0px;
    z-index: 11;
  }
  .delete-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: none;
    font-size: 18px;
    position: absolute;
    padding-right: 15px;
    right: 0;
    height: 0px;
    cursor: pointer;
    z-index: 11;
  }
  .search-box:hover {
    background-color: #dfdfdf;
  }
  .search-box:focus {
    background-color: white;
    outline: 1px solid #0058a3;
  }
}
