.productfilter {
  width: 90vw;
  margin-bottom: 15px;

  .productfilter-carousel {
    .productfilter-button {
      display: inline-flex;
      position: relative;
      margin-top: 10px;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      vertical-align: top;
      background: #f5f5f5;
      border: 1px solid #f5f5f5;
      border-radius: 64px;
      height: 3rem;
      padding: 0 2rem;
      font-size: 15px;
      color: #111;
    }
  }
}
