* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .sidebar-nav-container {
    width: 100%;
    display: flex;

    .menu {
      height: 10vh;
      width: 9vw;
      display: flex;
      justify-content: center;
      background-color: white;
      position: fixed;
      left: 0;

      .side-bar-on-btn {
        height: 40px;
        margin-top: 30px;
        background-color: white;
        border: none;
        cursor: pointer;
      }
      .side-bar-on-btn:hover {
        width: 35px;
        height: 35px;
        background-color: #f5f5f5;
        border-radius: 50px;
      }
      .side-bar-btn {
        font-size: 20px;
      }
    }
    .header-container {
      width: 100%;
      padding-right: 80px;
      padding-left: 9vw;

      .main-nav {
        height: 10vh;
        width: 100%;
        display: flex;

        .nav-left {
          display: flex;
          align-items: center;
          flex-grow: 1;

          .kikea-logo {
            cursor: pointer;
          }
        }
        .nav-center {
          display: flex;
          align-items: center;
          height: 100%;
          flex-grow: 16;

          .search-box {
            line-height: 55px;
            width: 100%;
            font-size: 17px;
            padding-left: 58px;
            background-color: #f5f5f5;
            border-radius: 30px;
            border: none;
            outline: none;
            position: relative;
          }
          .search-box:visited {
            background-color: white;
          }
          .search-btn {
            border: none;
            background-color: none;
            font-size: 18px;
            position: absolute;
            padding-left: 30px;
          }
        }
        .nav-icons-container {
          display: flex;
          justify-content: right;
          align-items: center;
          height: 100%;
          flex-grow: 1;
          .nav-icons-list {
            display: flex;
            align-items: center;
            .ware-house-btn {
              background-color: white;
              border: none;
              margin-left: 10px;
              width: 75px;
              text-align: left;
            }
            .btn-span {
              font-size: 12px;
              cursor: pointer;
            }
            .btn-span-two {
              font-weight: bold;
              letter-spacing: 0.1em;
              cursor: pointer;
            }
            .btn-span-two:hover {
              text-decoration: underline;
            }
            .icon {
              font-size: 20px;
              cursor: pointer;
            }
            .ware-house-icon {
              margin-left: 10px;
            }
            .truck-icon {
              margin-left: 100px;
            }
            .user-icon,
            .heart-icon,
            .bag-icon {
              margin-left: 30px;
            }
          }
        }
      }
      .all-products-container {
        width: 100%;
        .all-products-list {
          display: flex;
          border-bottom: 0.1em solid lightgray;
          .all-products-menu {
            font-size: 1em;
            font-weight: 900;
            margin-right: 20px;
            padding-bottom: 10px;
            cursor: pointer;
          }
          .all-products-menu:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
