.menu-list {
  .menu-items {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 1vw;
    font-weight: 700;
    cursor: pointer;
  }
}

.type-list {
  padding-top: 5px;
  display: none;

  .type-list-items {
    width: 130px;
    padding: 7px 0px 5px 18px;
  }

  .type-list-items:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
