.detailNav-container {
  .detailNav {
    margin-left: 20px;
    .detail-list {
      .detail-list-item {
        display: inline-block;
        font-size: 13px;
        margin-right: 9px;
      }
    }
  }
}
