.recommenditem {
  margin-top: 100px;
  margin-left: 10px;

  .recommendtaion-title {
    font-size: 23px;
    font-weight: 700;
  }
  .recommendtaion-item-wrapper {
    display: flex;
    width: 88vw;
    margin-top: 30px;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    height: 350px;

    .recommendtaion-item-box {
      width: 25%;
      height: 230px;
      margin-right: 20px;
      flex: 0 0 auto;

      .recommendtaion-item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .recommendtaion-item-info {
        margin-top: 10px;
        font-size: 14px;

        h3 {
          font-weight: 700;
        }

        .rating-container {
          display: flex;
          align-items: center;
          width: 80px;
          padding-top: 5px;
          overflow: hidden;

          .review-star {
            width: 80px;
            height: 17px;
            position: absolute;
          }

          .review-star-black {
            width: 80px;
            height: 17px;
            z-index: 10;
          }

          .review-nums {
            position: absolute;
            padding-left: 90px;
            padding-top: 0.5vh;
            font-size: 0.9rem;
          }
        }
      }
      .recommendtaion-item-info > p {
        color: #484848;
        margin-top: 8px;
        font-size: 12px;
      }
    }
  }
}
